@model iTrash.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h2>Change your account settings</h2>
    <hr />

    <ul class="nav nav-tabs">
        <li class="active">@Html.ActionLink("Account", "Index", "Manage")</li>
        <li>@Html.ActionLink("Personal", "PersonalSettings", "Manage")</li>
        <li>@Html.ActionLink("Pickup", "PickupSettings", "Manage")</li>
        <li>@Html.ActionLink("Billing", "BillingInfoSettings", "Manage")</li>
    </ul>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <!-- Insert content here -->
    </dl>
</div>
