@model iTrash.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <ul class="nav nav-tabs">
        @if (Model.role == 0 || Model.role == 2)
        {
            <li class="active">@Html.ActionLink("Account", "Index", "Manage")</li>
            <li>@Html.ActionLink("Personal", "PersonalSettings", "Manage")</li>
            <li>@Html.ActionLink("Pickup", "PickupSettings", "Manage")</li>
            <li>@Html.ActionLink("Billing", "BillingInfoSettings", "Manage")</li>
        }
        @if (Model.role > 0)
        {
            <li>@Html.ActionLink("Route", "Route", "Manage")</li>
        }
    </ul>
    <div>
        <h2>Account Settings</h2>
        <hr />
    </div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <!-- Insert content here -->
    </dl>
</div>
