@model iTrash.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <ul class="nav nav-tabs">
        @if (Model.role == 0 || Model.role == 2)
        {
            <li class="active">@Html.ActionLink("Account", "Index", "Manage")</li>
            <li>@Html.ActionLink("Pickup", "PickupSettings", "Manage")</li>
            <li>@Html.ActionLink("Billing", "BillingInfoSettings", "Manage")</li>
        }
        @if (Model.role > 0)
        {
            <li>@Html.ActionLink("Route", "Route", "Manage")</li>
        }
    </ul>
    <div>
        <h2>Account Settings</h2>
        <hr />
    </div>
    <div class="form-group">
        <div>
            <h4>Current Address:</h4>
            <p>@Model.formattedAddress</p>
            <br />
            <div class="btn btn-default">@Html.ActionLink("Change Password", "ChangePassword")</div>
            <br />
            <br />
            <div class="btn btn-default">@Html.ActionLink("Change Address", "ChangeAddress")</div>
            <br />
        </div>
    </div>
</div>