@model iTrash.Models.PersonalSettingsViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h2>Change your account settings</h2>
    <hr />

    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Account", "Index", "Manage")</li>
        <li class="active">@Html.ActionLink("Personal", "PersonalSettings", "Manage")</li>
        <li>@Html.ActionLink("Pickup", "PickupSettings", "Manage")</li>
        <li>@Html.ActionLink("Billing", "BillingInfoSettings", "Manage")</li>
    </ul>
    <dl class="dl-horizontal">
        <!-- Insert content here -->
    </dl>
</div>
