@model iTrash.Models.PickupSettingsViewModel
@{
    ViewBag.Title = "Manage";
}

@Html.AntiForgeryToken()
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h2>Change your account settings</h2>
    <hr />
  
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Account", "Index", "Manage")</li>
        <li>@Html.ActionLink("Personal", "PersonalSettings", "Manage")</li>
        <li class="active">@Html.ActionLink("Pickup", "PickupSettings", "Manage")</li>
        <li>@Html.ActionLink("Billing", "BillingInfoSettings", "Manage")</li>
    </ul>

    <div>
        <h4>Change your trash collection settings</h4>
        <h3>Your current trash pick up day</h3>
        <div class="form-group">
            @Html.LabelFor(m => m.user.pickupDay._Day, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.user.pickupDay._Day, Model.days, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
