@model iTrash.Models.PickupSettingsViewModel
@{
    ViewBag.Title = "Manage";
}

@Html.AntiForgeryToken()
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h2>Change your account settings</h2>
    <hr />
  
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Account", "Index", "Manage")</li>
        <li>@Html.ActionLink("Personal", "PersonalSettings", "Manage")</li>
        <li class="active">@Html.ActionLink("Pickup", "PickupSettings", "Manage")</li>
        <li>@Html.ActionLink("Billing", "BillingInfoSettings", "Manage")</li>
    </ul>

    <div>
        <h4>Pickup Day:</h4>
        @Html.DisplayFor(m => m.pickupDate)
    </div>
</div>
