@model iTrash.Models.PickupSettingsViewModel
@{
    ViewBag.Title = "Manage";
}
@using (Html.BeginForm("PickupSettings", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p class="text-success">@ViewBag.StatusMessage</p>

    <div>
        <h2>Change your account settings</h2>
        <hr />
  
        <ul class="nav nav-tabs">
            <li>@Html.ActionLink("Account", "Index", "Manage")</li>
            <li>@Html.ActionLink("Personal", "PersonalSettings", "Manage")</li>
            <li class="active">@Html.ActionLink("Pickup", "PickupSettings", "Manage")</li>
            <li>@Html.ActionLink("Billing", "BillingInfoSettings", "Manage")</li>
        </ul>

        <div class="row">
            <div class="col-sm-6">
                <h2>Pickup Day:</h2>
                <strong>@Html.DisplayFor(m => m.pickupDate)</strong>
                <br />
                <br />
                <h4>@Html.CheckBoxFor(m => m.changePickupDate) Change pickup day</h4>
                @Html.DropDownListFor(m => m.dayId, Model.days, new { @class = "form-control" })
                <br />
                <h2>Alternate Pickup Day:</h2>
                <strong>@Html.DisplayFor(m => m.altPickupDate)</strong>
                <br />
                <br />
                @if (Model.altPickupDate == "None")
                {
                    <h4>@Html.CheckBoxFor(m => m.changeAltPickupDate) Set alternate pickup day</h4>
                    @Html.DropDownListFor(m => m.altDayId, Model.days, new { @class = "form-control" })
                }
                else
                {
                    <h4>@Html.CheckBoxFor(m => m.changeAltPickupDate) Change alternate pickup day</h4>
                    @Html.DropDownListFor(m => m.altDayId, Model.days, new { @class = "form-control" });
                    <h4>@Html.CheckBoxFor(m => m.removeAltPickupDate) Remove alternate pickup day</h4>
                }
                <br />
                <br />
                <br />
                <br />
                <input type="submit" class="btn btn-default" value="Save Changes" />
            </div>
            <div class="col-sm-6">
                <div class="input-group input-daterange">
                    <p>From: <input type="date" class="form-control"></p>
                    <p>To: <input type="date" class="form-control"></p>
                </div>
            </div>
        </div>
    </div>
}
