@model iTrash.Models.RouteViewModel
@{
    ViewBag.Title = "Routes";
}
@using (Html.BeginForm("Route", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <ul class="nav nav-tabs">
            @if (Model.role == 0 || Model.role == 2)
            {
                <li>@Html.ActionLink("Account", "Index", "Manage")</li>
                <li>@Html.ActionLink("Personal", "PersonalSettings", "Manage")</li>
                <li>@Html.ActionLink("Pickup", "PickupSettings", "Manage")</li>
                <li>@Html.ActionLink("Billing", "BillingInfoSettings", "Manage")</li>
            }
            @if (Model.role > 0)
            {
                <li class="active">@Html.ActionLink("Route", "Route", "Manage")</li>
            }
        </ul>
        <div>
            <h2>View Route</h2>
            <h5>Select Truck</h5>
            @Html.DropDownListFor(m => m.truckId, Model.trucks, new { @class = "form-control" })

        </div>
        <br />
        <input type="submit" class="btn btn-default" value="Choose Route" />
        <br />
        <br />
        <br />
        @if (Model.route != "")
        {
            <h1>GOOGLE API HERE MOFO</h1>
        }
    </div>
}
